{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} パスワード再設定に関して{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}{{ site_name }} をご利用いただきありがとうございます。パスワード再設定の申請があったため、このメールをお送りしております。{% endblocktrans %}

{% trans "パスワードを再設定する場合は、以下のリンクにアクセスしてください。" %}
https://studymatchingweb.hufurima.com/{{ url }}
{% trans "あなたのユーザ名（確認用）:" %} {{ user.get_username }}

{% blocktrans %}{{ site_name }} 開発チーム{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}{{ site_name }} をご利用いただきありがとうございます。パスワード再設定の申請があったため、このメールをお送りしております。{% endblocktrans %}</p>

<p>{% trans "パスワードを再設定する場合は、以下のリンクにアクセスしてください。" %}</p>
<a href="https://studymatchingweb.hufurima.com/{{ url }}">https://studymatchingweb.hufurima.com/{{ url }}</a>
<p>{% trans "あなたのユーザ名（確認用）:" %} <b>{{ user.get_username }}</b></p>

<p>{% blocktrans %}{{ site_name }} 開発チーム{% endblocktrans %}</p>
{% endblock html_body %}
